.snip1527 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #fff;
  float: left;
  font-family: Lato, Arial, sans-serif;
  font-size: 1.1rem;
  margin: 10px 1%;
  max-width: 100%;
  min-width: 50%;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 98%;
  height: 50%;
  border-radius: 1rem;
}
.snip1527 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.snip1527 img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
}
.snip1527 figcaption {
  padding: 20px 15px;
  position: absolute;
  bottom: 0;
  z-index: 1;
}
.snip1527 figcaption:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  border: #fff 1px solid;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background: -moz-linear-gradient(
    90deg,
    #081b29 0,
    #112e42 100%,
    #8bccfa 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    #081b29 0,
    #112e42 100%,
    #8bccfa 100%
  );
  background: linear-gradient(90deg, #081b29 0, #112e42 100%, #8bccfa 100%);
  opacity: 0.8;
  z-index: -1;
}
.snip1527 .date {
  background-color: #fff;
  border-radius: 50%;
  color: #700877;
  font-size: 1.1rem;
  font-weight: 600;
  min-height: 48px;
  min-width: 48px;
  padding: 10px 0;
  position: absolute;
  right: 15px;
  text-align: center;
  text-transform: uppercase;
  top: -25px;
}
.snip1527 .date span {
  display: block;
  line-height: 14px;
}
.snip1527 .date .month {
  font-size: 11px;
}
.snip1527 h3,
.snip1527 p {
  margin: 0;
  padding: 0;
}
.snip1527 h3 {
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: -0.4px;
  margin-bottom: 5px;
}
.snip1527 p {
  font-size: 0.6em;
  line-height: 1.6em;
  margin-bottom: 0;
}
.snip1527 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 50px;
  position: absolute;
  z-index: 1;
}
.snip1527.hover img,
.snip1527:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.snip1527 img{
  border-radius: 1rem;
  border: #fff 1px solid;
}