.cowcard {
  display: flex;
  position: absolute;
  width: 450px;
  margin-top: 160px;
  margin-left: 20px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  transition: all 0.3s ease-in-out;
  
}

.cowcard__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  backdrop-filter: blur(10px);
  width: inherit;
  height: inherit;
  border: 2px solid #00abf0; /* Combined border properties */
  border-radius: 20px;
  background-color: #11111120;
  /* box-shadow: 0 0 8px #ffffff25; */
}

.cowcard__content h2 {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--secondary-color);
  text-align: center;
  display: flex;
  margin-top: 10px;
}

.cowcard__content p {
  font-family: "Times New Roman", Times, serif;
  font-size: 1rem;
  color: var(--text-color);
  text-align: center;
  justify-items: center;
  line-height: 1.8rem;
}

.cowcard__content span {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--secondary-color);
}

.cow__value {
  font-size: 0.7rem;
  font-weight: 400;
}

/* @media only screen and (max-width: 1300px) {
  .cowcard {
    width: 350px;
    margin-left: 20px;
  }
  .cowcard__content {
    background-color: transparent;
  }

  .cowcard__content h2 {
    font-size: 1.1rem;
  }

  .cowcard__content p {
    font-size: 0.9rem;
    padding: 0 20px;
  }
  .cowcard__content span {
    font-size: 1rem;
    font-weight: 300;
  }
} */

@media only screen and (max-width: 992px) {
  .cowcard {
    width: 60%;
  }
  .cowcard__content {
    background-color: transparent;
  }
  .cowcard__content h2 {
    font-size: 1rem;
  }
  .cowcard__content p {
    font-size: 0.9rem;
    padding: 0 10px;
  }
}

@media only screen and (max-width: 576px) {
  .cowcard {
    width: 60%;
  }
  .cowcard__content {
    background-color: transparent;
  }
  .cowcard__content h2 {
    font-size: 0.8rem;
  }
  .cowcard__content p, .cowcard__content span {
    font-size: 0.8rem;
    padding: 0 10px;
  }
  
}
