.data__table {
  width: 100%;
  margin-top: 20px;
}

.data__table h1 {
  width: 100%;
  display: flex;
  justify-content: center;
  color: var(--secondary-color);
  margin-bottom: 30px;
}

.cow__value {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cow__value .search-bar input {
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  font-size: 14px;
}

.search-bar input {
  width: 10rem;
}

.cow__value h2 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--secondary-color);
}

table {
  height: 440px;
  border-collapse: collapse;
  border-radius: 10px !important;
  border-style: hidden;
  box-shadow: 0 0 0 1px #00abf0;
  text-align: center;
  color: #ffffff;
}

td {
  border: 0px solid #00abf0 !important;
}

table tr:first-child th:first-child {
  border-top-left-radius: 5px;
}

table tr:last-child td:first-child {
  border-top-right-radius: 5px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}

table tr:last-child th:first-child {
  border-bottom-left-radius: 5px;
}

th {
  border: 0px solid #00abf0 !important;
}

th,
td {
  padding: 0.5em;
  border-bottom: 1px solid white;
}

body {
  margin: 1.5em;
}

.th-right {
  width: 20%;
  text-align: center;
  font-weight: 500;
  font-style: Bold;
  font-size: 1.3rem;
  font-family: "Times New Roman", Times, serif;
  color: var(--secondary-color);
}

.content {
  color: #ffffff;
  padding-left: 10px;
}

/* Search bar */
.highlight {
  background-color: rgb(122, 221, 238);
  color: #0f0f0f;
}

.search-bar {
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
}

/* Pagination feature */
.pagination-feature {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.pagination-button {
  width: 120px;
  height: 40px;
  border: none;
  background-color: #00abf0;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.pagination-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pagination-button:not(:disabled):hover {
  background-color: #00abf0;
}
/* LOAD DATA */

.load {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
}
.load hr {
  border: 0;
  margin: 0;
  width: 40%;
  height: 40%;
  position: absolute;
  border-radius: 50%;
  animation: spin 2s ease infinite;
}

.load :first-child {
  background: #19a68c;
  animation-delay: -1.5s;
}
.load :nth-child(2) {
  background: #f63d3a;
  animation-delay: -1s;
}
.load :nth-child(3) {
  background: #fda543;
  animation-delay: -0.5s;
}
.load :last-child {
  background: #193b48;
}

@keyframes spin {
  0%,
  100% {
    transform: translate(0);
  }
  25% {
    transform: translate(160%);
  }
  50% {
    transform: translate(160%, 160%);
  }
  75% {
    transform: translate(0, 160%);
  }
}
.value-up span {
  color: green;
}

.value-down span {
  color: red;
}

@media only screen and (max-width: 1400px) {
  .search-bar input {
    width: 8rem;
  }
}

@media only screen and (max-width: 1240px) {
  .search-bar input {
    width: 7rem;
  }

  .cow__value h2 {
    font-size: 0.7rem;
    font-weight: 400;
    color: var(--secondary-color);
  }
}

@media only screen and (max-width: 992px) {
  .data__table {
    width: 60%;
  }
  .pagination-button {
    width: 100px;
    height: 30px;
    font-size: 0.8rem;
  }

  .search-bar input {
    width: 9rem;
  }

  .cow__value h2 {
    font-size: 1rem;
    font-weight: 500;
    color: var(--secondary-color);
  }

  .th-right {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 576px) {
  .pagination-button {
    width: 60px;
    height: 20px;
    font-size: 0.5rem;
  }

  .search-bar input {
    width: 6rem;
  }

  .cow__value h2 {
    font-size: 0.85rem;
    font-weight: 400;
    color: var(--secondary-color);
  }
}
