@import url("https://fonts.googleapis.com/css2?family=Island+Moments&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
  --bg-color:#081b29;
  --primary-color: #ff7e01;
  --secondary-color: #faa935;
  --third-color:#112e42;
  --heading-color: #0003;
  --text-color: #ffffff;
  --font-name: "Montserrat", sans-serif;
  --subtitle-font-name: "Island Moments", cursive;
  --card-width: 40%;
  --card-height: 80%;
  --right: var(--card-width);
  --bottom: var(--card-height);
  --left: calc(var(--card-width) * -1);
  --top: calc(var(--card-height) * -1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-name);
}

section {
  padding: 50px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}

a {
  text-decoration: none;
  color: unset;
}
ul {
  list-style: none;
}

.primary__btn {
  background: var(--secondary-color) !important;
  border: none !important;
  border-radius: 50px !important;
  padding: 0.4rem 1.5rem !important;
}

.primary__btn a {
  font-size: 1.1rem;
  text-decoration: none;
  color: #fff;
  background-color: var(--secondary-color);
}
.primary__btn a:hover {
  color: inherit;
}
.secondary__btn {
  background: transparent !important;
  color: #0b2727 !important;
  border: none !important;
  font-weight: 500 !important;
}

.secondary__btn a {
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--secondary-color);
}

.secondary__btn a:hover {
  color: inherit;
}

.section__subtitle {
  background: var(--secondary-color);
  font-family: var(--subtitle-font-name);
  width: max-content;
  padding: 0px 0.5rem;
  padding-right: 1rem;

  border-radius: 50px;
  font-weight: 500;
  font-size: 1.7rem;
  color: var(--heading-color);
}


@media only screen and (max-width:992px) { 
  /* .primary__btn a, .secondary__btn a {
    font-size: 0.9rem;
  }

  .primary__btn, .secondary__btn, .btn-logout {
    padding: 0.2rem 1.1rem !important;
  } */

  section {
    padding: 40px 0;
  }
}


@media only screen and (max-width:768px) {
  .section__subtitle {
    font-size: 1.3rem;
  }

  .primary__btn a, .secondary__btn a, .primary__btn, .secondary__btn, .btn-logout, .secondary__btn a:hover  {
   display: none;
  }


}

